<div class="horizontal segments">
    <button *ngIf="!edit" class="ui basic button" (click)="back()">
        <i class="left chevron icon"></i>
        Back
    </button>
    <button *ngIf="!edit" class="ui basic button" (click)="doEdit()">
        <i class="edit icon"></i>
        Edit
    </button>
    <button *ngIf="edit" class="ui basic button" (click)="cancel()">
        <i class="remove circle icon"></i>
        Cancel
    </button>
    <button *ngIf="edit" class="ui basic button" (click)="save()">
        <i class="save icon"></i>
        Save
    </button>
    <button *ngIf="!edit" class="ui basic right floated button" (click)="doDelete()">
        <i class="delete icon"></i>
        Delete
    </button>
</div>
<div class="ui small modal">
    <div class="header">Delete!</div>
    <div class="content">
        <p>Are you sure?</p>
    </div>
    <div class="actions">
        <div (click)="confirmDelete(false)" class="ui cancel button">Cancel</div>
        <div (click)="confirmDelete(true)" class="ui approve button">Delete</div>
    </div>
</div>
<p></p>
<p></p>
<div class='ui three column doubling stackable grid'>
   <div class='column'>
       <string-property
          [sheet]="sheet"
          [edit]="edit"
          [field]="'name'"
          [displayName]="'Name'">
       </string-property>
   </div>
   <div class='column'>
       <integer-property
          [sheet]="sheet"
          [edit]="edit"
          [field]="'life_expectancy'"
          [displayName]="'Life Expectancy'">
       </integer-property>
   </div>
</div>
