<div class="horizontal segments">
    <button *ngIf="!edit" class="ui basic button" (click)="back()">
        <i class="left chevron icon"></i>
        Back
    </button>
    <button *ngIf="!edit" class="ui basic button" (click)="doEdit()">
        <i class="edit icon"></i>
        Edit
    </button>
    <button *ngIf="edit" class="ui basic button" (click)="cancel()">
        <i class="remove circle icon"></i>
        Cancel
    </button>
    <button *ngIf="edit" class="ui basic button" (click)="save()">
        <i class="save icon"></i>
        Save
    </button>
    <button *ngIf="!edit" class="ui basic right floated button" (click)="doDelete()">
        <i class="delete icon"></i>
        Delete
    </button>
</div>
<p></p>
<p></p>
<div class='ui three column doubling stackable grid'>
   <div class='column'>
       <string-property
          [sheet]="sheet"
          [edit]="edit"
          [field]="'name'"
          [displayName]="'Name'">
       </string-property>
   </div>
   <div class='column'>
       <select-property
          [sheet]="sheet"
          [edit]="edit"
          [field]="'animal_type'"
          [displayName]="'Animal Type'"
          [itemsUrl]="'animal_type/items'"
          [selectName]="'name'">
       </select-property>
   </div>
   <div class='column'>
       <select-property
          [sheet]="sheet"
          [edit]="edit"
          [field]="'owner'"
          [displayName]="'Owner'"
          [itemsUrl]="'person/items'"
          [selectName]="'name'">
       </select-property>
   </div>
</div>
